{% extends 'base.html' %}
<!--puxar os arquivos do static-->
{% load static %}

<!--puxar os arquivos do static-->
{% block body %}

<h1>Loja</h1>

<ul>
  <!-- percorrendo a lista produtos que esta no views/loja-->
  {% for produto in produtos %}
  <a href="{% url 'ver_produto' produto.id %}">
    <img src="{{ produto.imagem.url }}" width="300" height="450" />
  </a>
  <!-- Exibindo o nome e o preço de cada produto -->
  <li>Produto: {{ produto.nome }} - Preço: {{ produto.preco }}</li>
  {% endfor %}
</ul>

<!-- para exibir uma variavel {{ var }} -->

{% endblock %}
