body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  padding-top: 30px !important;
}
.navbar a {
  float: left;
  display: block;
  color: #fcf6f6;
  text-align: center;
  padding: 5px 16px !important;
  text-decoration: none;
  box-shadow: 1px 0.5px 0px 0px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.content {
  padding: 20px;
}

.rounded-btn {
  border-radius: 50px; /* Define o raio da borda para arredondar */
  padding: 5px 1px; /* Reduz o espaço interno ao redor do texto */
}
